################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/customers.txt
/customers.json
/customers.json
/.vs/config
